.right-img {
  width: 20%;
  min-width: 100px;
  float: right;
  margin-left: 20px;
}

.card-custom {
  min-height: 500px;
}

.box-demo {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  height: 100px;
  padding: 10px;
  border: solid black 2px;
  text-align: center;
}

#jumbo {
  width: 100%;
}

#about {
  background-image: url("../img/forest.jpg"); 
  background-size: cover;
}

#background {
  background-image: url("../img/water.jpg"); 
  background-size: cover;
}
