.right-img {
  width: 20%;
  float: right;
  margin-left: 20px;
  /* padding: 0; */
}

.back-img {
  opacity: 40%;
  width: 100%;
}

.card-custom {
  overflow:hidden;
  min-height: 500px;
  
}

.box-demo {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  height: 100px;
  padding: 10px;
  border: solid black 2px;
  text-align: center;
}

#jumbo {
  width: 100%;
}

#about {
  /* background: white; */
  background-image: url("../img/forest.jpg"); 
  /* , linear-gradient(white, lightgrey); */
  background-size: cover;
  /* background-color: rgb(255, 255, 255, 0.5); */
}

#background {
  background-image: url("../img/water.jpg"); 
  background-size: cover;
}
